.mainBox {
margin-top: -15px;
  display: flex;
  height: 45rem;
  width: 100%;
  padding: 25px;
  background-color: #c5cbd5;
}

.textbar {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}

.textbarfirst {
  line-height: 45px;
  margin: 20px;
}

.textbarsecond > img {
  width: 100%;
  height: 30rem;
  object-fit: scale-down;
}

.productbar {
  width: 60%;
  padding: 0px 5px 0px 30px;
 


}

.productbarfirst {

  display: flex;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 2rem;
  background-color: white;
}

.productbarfirst > div {
  font-size: small;
}

.productbarfirst > div > img {
  margin: auto;
}

.productbarsecond {
  display: flex;
  width: 100%;

 
}

   



.productbarsecond2 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 30px;

background-color: white;
 width: 25.5rem;
 height: 26.5rem;

}


.productbarsecond2 > div {
    margin-bottom: 15px;
    
}

